<div class="d-flex flex-column align-items-center text-center vw-90 mx-auto">
  @if (about$ | async; as about) {
    <div class="d-flex flex-column align-items-center text-center w-75">
      @if (heading === 'h1') {
        <h1 class="page-title mb-5"><span class="fw-bold">About</span> Me</h1>
      } @else {
        <h2 class="page-title mb-5"><span class="fw-bold">About</span> Me</h2>
      }
      @for (par of about.about; track par) {
        <p class="body-text">{{par}}</p>
      }
    </div>
  }
  @if (stacks$ | async; as stacks) {
    <ul class="d-flex vw-90 justify-content-center flex-wrap list-unstyled" aria-label="Technologies I use">
      @for (stack of stacks; track stack.name) {
        <li class="stack-icon m-3" [title]="stack.name" [ngStyle]="{ 'background-color': stack.color.background }">
          <app-icon [name]="stack.iconClasses" [ngStyle]="{ 'color': stack.color.icon }"></app-icon>
          <span class="visually-hidden">{{stack.name}}</span>
        </li>
      }
    </ul>
  }
</div>
