<div class="d-flex min-vh-10 w-100 justify-content-center pb-3 pt-3 pe-4 ps-4">
  @if (about$ | async; as about) {
    <a class="d-flex justify-content-start text-reset text-decoration-none" routerLink="/" aria-label="Home">
      <span class="h2 fw-bold">{{about.firstName}}</span>
      <span class="h2 fw-light">{{about.lastName}}</span>
    </a>
  }
  <nav class="d-none d-md-flex flex-grow-1 justify-content-end align-items-start" aria-label="Main">
    @for (item of menuItems; track item) {
      <a class="ms-2 me-2 btn btn-outline-dark border-0 fw-bold"
        [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath"
        [fragment]="(isHome$ | async) && item.fragment ? item.fragment : undefined">{{item.title}}</a>
    }
  </nav>
  <div class="d-flex d-md-none justify-content-end flex-grow-1">
    <div class="position-relative">
      <button type="button" class="btn btn-outline-dark border-0" aria-label="Menu" aria-controls="site-menu"
        [attr.aria-expanded]="menuOpen" (click)="menuOpen = !menuOpen">
        <app-icon name="fa-solid-bars" class="icon-lg"></app-icon>
      </button>
      @if (menuOpen) {
        <div id="site-menu" class="dropdown-menu show end-0 top-100">
          @for (item of menuItems; track item) {
            <a class="dropdown-item" (click)="menuOpen = false"
              [routerLink]="(isHome$ | async) ? item.homePath : item.pagePath"
              [fragment]="(isHome$ | async) && item.fragment ? item.fragment : undefined">{{item.title}}</a>
          }
        </div>
      }
    </div>
  </div>
</div>