<div class="d-flex flex-column align-items-center text-center vw-90 mx-auto">
  @if (heading === 'h1') {
    <h1 class="page-title mb-5"><span class="fw-bold">My</span> Projects</h1>
  } @else {
    <h2 class="page-title mb-5"><span class="fw-bold">My</span> Projects</h2>
  }
  @if (!(isHome$ | async)) {
    @if (stacks$ | async; as stacks) {
      <div class="d-flex vw-90 justify-content-center flex-wrap mb-3">
        @for (stack of stacks; track stack.name) {
          <div class="stack-icon m-3" [title]="stack.name"
            [ngStyle]="{ 'background-color': stack.color.background }" [ngClass]="{ 'selected': stack.filter===filter }"
            (mouseenter)="mouseEnter(stack.filter)">
            <app-icon [name]="stack.iconClasses" [ngStyle]="{ 'color': stack.color.icon }"></app-icon>
          </div>
        }
      </div>
    }
  }
  @if (projects$ | async; as projects) {
    <div class="d-flex vw-90 flex-column align-items-center flex-md-row flex-md-wrap justify-content-md-center">
      @for (project of projects; track project.name) {
        <div class="card project-card m-3 overlay" [style.--color]="project.filter.color"
          [ngClass]="{ 'filtered': project.filter.list.includes(filter) }">
          @if (project.imageUrl) {
            <div class="overlay-card">
              <img class="card-img responsive-im overlay-img" [src]="project.imageUrl" alt="" loading="lazy" decoding="async">
            </div>
          }
          <div class="card-body d-flex flex-column">
            <h3 class="h5 card-title fw-bold text-left project-title" [title]="project.name">
              {{project.name}}
            </h3>
            <div class="d-flex card-subtitle mb-2 justify-content-center">
              @for (stack of project.stack; track stack.name) {
                <span class="h6 fw-lighter text-left me-3">
                  <app-icon [name]="stack.iconClasses"></app-icon>
                  {{stack.name}}
                </span>
              }
            </div>
            <p class="card-text text-left">
              {{project.description}}
            </p>
            <div class="d-flex flex-row justify-content-start mt-auto">
              @if (project.previewUrl) {
                <a [href]="project.previewUrl" class="btn btn-dark me-2">
                  <app-icon name="fa-regular-eye" class="icon-lg me-1"></app-icon>
                  Preview
                </a>
              }
              @if (project.sourceUrl) {
                <a [href]="project.sourceUrl" class="btn btn-dark">
                  <app-icon name="fa-brands-github-alt" class="icon-lg me-1"></app-icon>
                  Source
                </a>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
  @if (isHome$ | async) {
    <a routerLink="/project" class="mt-3 btn btn-dark">
      See More Projects
      <app-icon name="fa-solid-angle-right" class="ms-1"></app-icon>
    </a>
  }
</div>
