.vw-20 {
    width: 20vw;
}

.project-card {
    width: 300px;
    height: 230px;
    transition: background-color 0.2s ease;
}

.project-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

/* Overlay */
.overlay:hover .overlay-card {
    bottom: 30%;
    height: 70%;
    }

.overlay-img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-card {
    position: absolute;
    overflow: hidden;
    bottom: 100%;
    width: 100%;
    height: 0%;
    transition: .5s ease;
}

/* filter */
.filtered {
    --color: #ffffcc;
    background-color: var(--color);
}

.selected {
    transform: scale(1.6);
}

.stack-icon {
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    transition: transform .2s;
    line-height: 1;
}